@import 'hero';

.illholder {
    position: relative;

    img {
        @include breakpoint(tablet) {
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            display: block;
            object-fit: cover;

        }
    }
    &:after {
        content:'';
        display: block;
        position: absolute;
        left:.75rem;
        top:.75rem;
        right:.75rem;
        bottom:.75rem;
        border: 1px solid rgba(#fff,.666);
    }
}

.illholder--left img {
    @include breakpoint(tablet) {
        object-position: 100% 50%
    }
}

.illholder--right img {
    @include breakpoint(tablet) {
        object-position: 0 50%
    }
}