@import 'hero';

.illholder {
    position: relative;

    img {
        @include breakpoint(tablet) {
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            display: block;
            object-fit: cover;

        }
    }
    &:after {
        //content:'';
        display: block;
        position: absolute;
        left:.75rem;
        top:.75rem;
        right:.75rem;
        bottom:.75rem;
        border: 1px solid rgba(#fff,.666);
    }
}

.illholder--left img {
    @include breakpoint(tablet) {
        object-position: 0 50%
    }
}

.illholder--right img {
    @include breakpoint(tablet) {
        object-position: 100% 50%
    }
}

.lead, .lead > p {
}

.stylized {
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 1.25em;
        height: 1px;
        background-color: currentColor;
        margin:.5em 0;
    }
}

.bulletpoints {
    font-size:  $global-font-size * 1.2;
    margin-left: 5%;
    list-style: none;
    //line-height: 1.4;
    > li {
        position: relative;
        &:before {
            position: absolute;
            content: '';
            display: block;
            width:.4666em;
            height:.4666em;
            background-color: $primary-color;
            left:-4.75%;
            top:.5666em;

        }
    }
    > li:not(:last-of-type) {
        margin-bottom: 1em;
    }
}