.testiquote {

  position: relative;
  font-size: .875rem;
  //margin-left: 25%;
  padding: 0 0;
  border:none;
  //text-align: center;
  margin-bottom: 3rem;

  font-family: $header-font-family;
}

.testiquote img {
  display: block;
  //background-color: $medium-gray;
  box-shadow: 0 0 2px 0 rgba(#000,.25);
  border:1px solid $medium-gray;
  padding:2px;
  width:4.5em !important;
  height:4.5em;
  float:left;
  margin-right: .5em;
  //border-radius:50%;
}

.testiquote p {
  @include clearfix();
  margin-bottom: 2em;
  min-height: 8em;
}

.testiquote cite {
  line-height: 1.125;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: $global-weight-bold;
  font-family: $body-font-family;
  em {
    font-size: .8em;
    font-weight: $global-weight-normal;
  }
}