<section
  id="contact"
  class="hbpcontact ps ps--narrow ps--bordered ps--light"
  data-magellan-target="contact"
>
  <div class="grid-container">
    <div class="grid-x grid-margin-x ps align-center text-center">
      <div class="cell tablet-10 large-8 xlarge-6">
        <h2 class="notsupertitle">Would you like to walk with us?<br />Reserve your place!</h2>
        <hr class="superlinea" />
        <p class="superlead">
          Our staff members are happy to help you, get in touch for further information on this tour.
        </p>
        <br />
        <a target="_blank" href="mailto:info@halalbudapest.com" class="button large">Place Your Reservation<br />by E-mail</a>
        <br /><br />
        <p>
          Feeel free to contact <strong>Anna Lenard</strong> |
          <strong><a href="#">anna@halalbudapest.com</a></strong
          ><br />
          Phone (WhatsApp, Viber, IMO):
          <strong><a href="tel:+36709483350">+36 70 948 3350</a></strong>
        </p>
      </div>
    </div>
  </div>
</section>
