<section id="contact" class="hbpcontact ps ps--narrow ps--bordered ps--light" data-magellan-target="contact">
        <div class="grid-container">
            <div class="grid-x grid-margin-x ps align-center text-center">
                <div class="cell tablet-10 large-8 xlarge-6">
                    <h2 class="notsupertitle">Would you like to walk with us?<br />Reserve your place!</h2>
                    <hr class="superlinea" />
                    <p class="superlead">
                        Our staff members are happy to help you, get in touch for further information on this tour.
                    </p>
                    <br />
                    <a target="_blank" href="#" class="button large">Place Your Reservation<br>by E-mail</a>
                    <br /><br />
                    <p>
                        Feeel free to contact <strong>Anna Lenard</strong> |
                        <strong><a href="#">anna@halalbudapest.com</a></strong>
                    </p>
                    <hr class="superlinea small" />
                    <p>
                        Sétaműhely Kft.<br />
                        Budapest, Hungary<br />
                        1056. Fővám street 2. Floor: 2th
                    </p>
                </div>
            </div>
        </div>
    </section>