<div class="grid-container">
  <div class="figaro">
    <figure><img src="{{ root }}assets/img/tours/{{ not }}/sq1.jpg" alt=""" /></figure>
    <figure>
      <img src="{{ root }}assets/img/tours/{{ not }}/sq2.jpg" alt="" />
    </figure>
    <figure><img src="{{ root }}assets/img/tours/{{ not }}/double.jpg" alt="" /></figure>
    <figure><img src="{{ root }}assets/img/tours/{{ not }}/triple.jpg" alt="" /></figure>
    <figure>
      <img src="{{ root }}assets/img/tours/{{ not }}/sq3.jpg" alt="" />
    </figure>
  </div>
</div>
