<footer class="sitefooter">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell tablet-8">
                <p>Halalbudapest.com is the online tourist office where Muslim tourists and those travellers who are interested in Islamic culture, religion and communities can find their ideal local Hungarian tour guide.</p>
                <p class="sitefooter__copy">&copy; 2018 &middot; HALALBUDAPEST.COM &middot; All rights reserved!</p>
            </div>
        </div>
    </div>
</footer>