<footer class="sitefooter">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell tablet-8">
        <p>
          Halalbudapest.com is the online tourist office where Muslim tourists and those travellers
          who are interested in Islamic culture, religion and communities can find their ideal local
          Hungarian tour guide.
        </p>
        <p class="sitefooter__copy">
          <strong>Sétaműhely Kft. (Walkshop Ltd.)</strong><br />
          H-1053 Budapest<br />Ferenciek tere 2.<br />HUNGARY<br /><br />
          Phone (WhatsApp, Viber, IMO):
          <strong><a href="tel:+36203383350">+36 20 338 3350</a></strong>
        </p>
        <p class="sitefooter__copy">
          &copy; 2018 &middot; HALALBUDAPEST.COM &middot; All rights reserved!
        </p>
      </div>
    </div>
  </div>
</footer>
