<section class="hbpslider">
        <div class="owl-carousel owl-slider">
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp01.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp02.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp03.jpg" alt="">
            </div>
<!--             <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp04.jpg" alt="">
            </div> -->
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp05.jpg" alt="">
            </div>
<!--             <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp06.jpg" alt="">
            </div> -->
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp07.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp08.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp09.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp10.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp11.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp12.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp13.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp14.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp15.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp16.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp17.jpg" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="{{root}}/assets/img/photostrip/hbp18.jpg" alt="">
            </div>
        </div>
</section>
