<section class="hbpslider">
        <div class="owl-carousel owl-slider">
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="//placehold.it/1200x768/?text=city" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="//placehold.it/1200x768/?text=tourist" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="//placehold.it/1200x768/?text=budapest" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="//placehold.it/1200x768/?text=guide" alt="">
            </div>
            <div class="hbpslider__item">
                <img class="hbpslider__img" src="//placehold.it/1200x768/?text=hungary" alt="">
            </div>
        </div>
</section>
