<header class="banner" data-sticky-container>
  <div
    class="banner__top"
    data-sticky
    data-sticky-on="small"
    data-options="marginTop:0;"
  >
    <div class="grid-container" data-aos="fade-down" data-aos-delay="500">
      <div class="grid-x grid-margin-x align-middle">
        <div class="auto cell">
          <div class="banner__branding">
            <a class="brand" href="{{root}}">
              <img
                class="brand__fulllogo"
                src="{{root}}assets/img/logo.svg"
                alt="Halalbudapest.com"
              />
            </a>
          </div>
        </div>
        <div class="auto cell">
          <nav class="banner__contact">
            <ul
              class="menu dropdown menu--main"
              data-dropdown-menu
              data-click-open="true"
              data-disable-hover="true"
              data-magellan
            >
              <li class="menu-item" role="menuitem">
                <a href="tel:+36203383350" class="text-center">
                  <small>Phone, WhatsApp, Viber, IMO:</small><br />
                  <strong>+36 20 338 3350</strong>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="shrink cell show-for-large">
          <nav class="banner__nav">
            <ul
              class="menu dropdown menu--main"
              data-dropdown-menu
              data-click-open="true"
              data-disable-hover="true"
              data-magellan
            >
              <li class="menu-item" role="menuitem">
                <a href="{{root}}">Home</a>
              </li>
              <li class="menu-item" role="menuitem">
                <a href="{{root}}#tours">Tours</a>
              </li>
              <li class="menu-item accent" role="menuitem">
                <a href="#contact">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="shrink cell hide-for-large">
          <a
            target="_blank"
            href="#contact"
            class="banner__subscribe dark button tiny"
            type="button"
            >Reservation</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
