<section class="hero">
    <figure class="hero__fig">
        <img src="{{root}}/assets/img/panorama_tasi.jpg" alt="">
    </figure>
    <div class="hero__inner">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <h1 class="hero__title">Discover Budapest in a halal way!</h1>
                    <p class="hero__lead">Tailor made private tours for/about Muslims</p>
                    <!-- <a href="#homestart" class="hero__action">Learn more</a> -->
                </div>
            </div>
        </div>
    </div>
</section>