<section class="hero">
    <figure class="hero__fig">
        <img src="https://placeimg.com/2560/800/arch" alt="">
    </figure>
    <div class="hero__inner">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <h1 class="hero__title">Discover Budapest in a halal way!</h1>
                    <p class="hero__lead">Tailor made walking tours and private guides for Muslims</p>
                    <a href="#" class="hero__action">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>