<section class="testiblock ps aps--narrow aps--light">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-justify">
            <div class="large-12 cell">
                <h3 class="stylized stylized--light">by Our Lovely Clients</h3>
                <br>
                <div class="owl-carousel owl-testi owl-theme-testi">
                    <div>
                        <blockquote class="testiquote">
                            <p><img src="{{roots}}/assets/img/testimonials/small/nand.jpg" alt="Norhan and Noran">We loved Budapest, especially its impressive architecture and its vibrant culture. We loved that the old sights are beautifully preserved - like the Parliament and the St. Stephen Basilica. The life is totally different inside the Old Castle. It is like an amazing little village. I highly reccomend it if you are interested in a beautiful city with centuries old history&hellip;</p>

                            <cite>Norhan and Noran<br><em>from Cairo, Egypt</em></cite>

                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="testiquote">
                            <p><img src="{{roots}}/assets/img/testimonials/small/mustafa.jpg" alt="Mustafa">I loved the view from the Fishermen's Bastion. I couldn't find many halal restaurant, but you can have a great fish soup anywhere - it is really local specialty&hellip;</p>

                            <cite>Mustafa<br><em>from Ankara, Turkey</em></cite>

                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="testiquote">
                            <p><img src="{{roots}}/assets/img/testimonials/small/ude.jpg" alt="Ude">Never expected this, truly an underrated city with friendly locals.</p>

                            <cite>Ude<br><em>from Nuremberg, Germany</em></cite>

                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="testiquote">
                            <p><img src="{{roots}}/assets/img/testimonials/small/dinda.jpg" alt="Dinda">I got so much insightful informations from our guide! Thank you!</p>

                            <cite>Dinda<br><em>from Bandung, Indonesia</em></cite>

                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>