<section class="testiblock ps aps--narrow aps--light">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-justify">
            <div class="large-12 cell">
                <h3 class="stylized stylized--light">by Our Lovely Clients</h3>
                <br>
                <div class="owl-carousel owl-testi owl-theme-testi">
                    <div>
                        <blockquote class="testiquote">
                            <p><img src="{{roots}}/assets/img/testimonials/small/nand.jpg" alt="Norhan and Noran">
                                We loved Budapest, especially its impressive architecture and its vibrant culture. We loved the old sights that are beautifully preserved - like the Parliament and the St. Stephen’s Basilica. The life is totally different inside the Old Castle. It is like an amazing little village. I highly recommend it if you are interested in a beautiful city with centuries of history… And it is a totally safe city, definitely.</p>
                            <cite>Norhan and Noran<br><em>Cairo, Egypt</em></cite>

                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="testiquote">
                            <p>
                                <img src="{{roots}}/assets/img/testimonials/small/mustafa.jpg" alt="Mustafa">
                                We always think of Hungarians as friends. So much in common, history, cuisine, even language. It was amazing to hear about the Ottoman era, and to understand the local point of view. Also interesting facts about coffee, paprika and much more. The view from the Fishermen’s Bastion was fantastic and I enjoyed the cruise on the Danube. I especially loved the Parliament Building.
                            </p>

                            <cite>Mustafa<br><em>Ankara, Turkey</em></cite>

                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="testiquote">
                            <p>
                                <img src="{{roots}}/assets/img/testimonials/small/dinda.jpg" alt="Dinda">
                                We love travelling, but we heard so much bad news about Hungary that we never thought of choosing it as destination. On our holiday we want to feel comfortable, to find mosques, to eat halal food and first of all to be safe. I am so happy I met you, guys. We had great time! Now we know much more about Budapest, and we are going to send our friends as well.
                            </p>

                            <cite>Nassir<br><em>Kuala Lumpur, Malaysia</em></cite>
                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="testiquote">
                            <p>
                                <img src="{{roots}}/assets/img/testimonials/Monica.jpg" alt="Monica">
                                I came to Hungary as a journalist. I was interested in recent political tendencies, immigration issues. I got in contact with the local Muslim community, and they recommended the Halal Budapest team. It was amazing! I really got insight information from Anna, who was very knowledgeable and obviously enjoyed what she was doing. I could have the chance to meet researchers, local colleagues and interviewees. Thanks for her! I could collect what I came for. And what is more, I could have exceptional sightseeing experience!
                            </p>
                            <cite>Monica<br><em>Washington, USA</em></cite>

                        </blockquote>
                    </div>

                    <div>
                            <blockquote class="testiquote">
                                <p>
                                    <img src="{{roots}}/assets/img/testimonials/Abdel.jpeg" alt="Abdel">
                                    I came here on a business trip and we couldn't find many halal restaurants. But you showed us the best place where we could have real Hungarian goulash soup made in halal way! It is nowhere in the guide books :) We also had nice food in Syrian and Lebanese restaurants in Budapest, but this goulash soup was the highlight. I love good cuisine, but it is problematic to try local specialties in non Muslim countries...They are not made in the right way. I also recommend the fish soup in Hungary, it you do not find halal meat. But it is also tricky as very few places make really good fish soup in Budapest… 
                                </p>
                                <cite>Abdel<br><em>Niche, France</em></cite>
    
                            </blockquote>
                        </div>
                    <div>
                        <blockquote class="testiquote">
                            <p><img src="{{roots}}/assets/img/testimonials/small/ude.jpg" alt="Ude">Never expected this, truly an underrated city with friendly locals.</p>

                            <cite>Ude<br><em>Nuremberg, Germany</em></cite>

                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>